/*---------Media queries start-----*/
@media all and (max-width: 1060px) {
    
}

@media all and (max-width: 992px) {
    
}

@media all and (max-width: 846px) {
    
}

@media all and (max-width: 767px) {
    
}

@media all and (max-width: 576px) {
    
}

@media all and (max-width: 518px) {
    h2 {
      font-size: 34px;
      line-height: 1.2;
    }
  
    .section {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .inner-banner-picture {

        .section-title-inverse {
        padding-bottom: 30px;
        }

        .inner-banner-content {
            padding-top: 20px;
        }

        .section-text-inverse {
            padding-top: 30px;
            line-height: 1.3;
        }
    }

    .landlord-text {
      font-size: 20px;
      font-weight: 600;
      line-height: 1.3;
      padding-top: 30px;
      max-width: 430px;
    }

    .landlord-text-marked {
        font-size: 18px;
        line-height: 1.3;
        padding: 20px 25px;
        margin-top: 40px;
    }

    .landlord-text-marked::before {
        width: 30px;
        height: 30px;
        transform: translate(2px, 24px);
    }

    .hiring-banner {
        max-height: 800px;
    }

    .hiring-section {

        .hiring-title h2 {
            max-width: 682px;
        }

        .hiring-image {
            padding-top: 35px;
            margin-left: 0px;
        }

        .hiring-text {
            font-size: 20px;
            line-height: 1.3;
            padding-left: 20px;
            padding-top: 30px;

            p:first-child {
                padding-bottom: 30px;
            }
        } 
    }

    .solve-problems-section {

        .solve-problems-title {
            padding-bottom: 40px;
            text-align: center;
        }
    
        .problems-wrapper {
            margin-bottom: 40px;
            margin-top: 40px;
        }
    
        .landlord-text-marked {
            margin-top: 60px;
            margin-bottom: 40px;
        
            &::before{
                transform: translate(2px, 45px);
            }
        }
    }

    .landlord-tenant-title {
        text-align: center; 
    }

    .landlord-tenant-logo {
        display: flex;
        vertical-align: middle;
    }
    
    .landlord-tenant-text {
        display: flex;
        font-size: 20px;
        font-weight: 600;
        padding-left: 20px;
        line-height: 1.3;
        max-width: 425px;
    }
    
    .landlord-tenant-text-marked {
        max-width: 425px;
    }

    .resolve-item {

        .resolve-item-text {
            font-size: 20px;
            font-weight: 400;
            line-height: 1.3;
            max-width: 300px;
            padding-left: 25px;
        }
    }

    .wrapper-steps-of-going-paragraph {

        .steps-of-going-paragraph {
            flex-wrap: wrap;

            span {
                font-size: 30px;
                font-weight: 700;
                line-height: 1.2;
                padding: 15px 15px 15px 26px;
            }

            p {
                padding-left: 10px;
            }
        }

        .steps-of-going-paragraph-marked {
            flex-wrap: wrap;

            span {
                font-size: 30px;
                font-weight: 700;
                line-height: 1.2;
                padding: 15px 15px 15px 26px;
            }
        }
    }
  
  
    .partner-section {

        .connection-line {
          display: none;
      }
    }
}

@media all and (max-width: 350px) {
    .partner-section {

        .connection-line {
          display: none;
      }
    }
  
}

@media all and (max-width: 280px) {
 
}

/*---------Media queries end-------*/