
@import 'normalize';
@import 'buttons';



.container {
    max-width: 1200px;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
    color: #000;
}

.section-inverse {
    color: #fff;
}

h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.35;
}

.section-title-inverse h2 {
    color: #fff;
}

.inner-banner-picture {
    background-image: url('../img/christoph-schulz-aEiu9nilN_c-unsplash 1.jpg');
    max-height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: -15px;
    margin-left: -15px;

    .section-title-inverse {
        max-width: 400px;
        border-bottom: 1px solid $color-brand-primary;
        line-height: 1.35;
        padding-bottom: 68px;
    }

    .section-text-inverse {
        font-size: 20px;
        font-weight: 600;
        line-height: 1.55;

        p {
            padding-bottom: 30px;
        }
    }
}

.inner-banner-content {
    padding-top: 360px;
}

.landlord-title h2{
    color: #000;
    max-width: 447px;
}

.landlord-text {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.35;
    padding-top: 30px;
    max-width: 430px;
}

.landlord-text-marked {
    font-size: 18px;
    line-height: 1.55;
    font-weight: 400;
    max-width: 570px;
    padding: 32px 35px;
    background-color: $color-brand-primary;
    margin-top: 28px;

    &::before {
        content: '';
        position: absolute;
        width: 42px;
        height: 42px;
        background-color: #000;
        left: 0;
        top: 0;
        transform: translate(-6px, 7px);
    }
}

.hiring-banner {
    background-image: url('../img/macky-mendenilla-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 599px;
    margin-right: -15px;
    margin-left: -15px;
}

.hiring-section {

    .hiring-title h2 {
        max-width: 682px;
    }

.hiring-image {
    padding-top: 35px;
    margin-left: 90px;
}

    .hiring-text {
        font-size: 20px;
        font-weight: 600;
        max-width: 650px;
        line-height: 1.55;
        padding-left: 35px;
        padding-top: 30px;
        
        p:first-child {
            padding-bottom: 30px;
        }
    }
}

.solve-problems-section {

    .solve-problems-text {
        font-size: 18px;
        line-height: 1.55;
        max-width: 520px;
    }

    .problems-wrapper {
        margin-bottom: 120px;
        margin-top: 70px;
    }

    .landlord-text-marked {
        margin-top: 0;
    
        &::before{
            transform: translate(139px, -21px);
        }
    }
}

.resolve-item {
    display: flex;
    flex-wrap: nowrap;
    padding: 20px 0;

    .resolve-item-text {
        font-size: 20px;
        font-weight: 400;
        line-height: 1.55;
        max-width: 460px;
        padding-left: 40px;
    }
}

.landlord-tenant-title {
    margin-bottom: 30px;
}

.landlord-tenant-logo {
    display: flex;
    vertical-align: middle;
}

.landlord-tenant-text {
    display: flex;
    font-size: 24px;
    font-weight: 600;
    padding-left: 60px;
    line-height: 1.375;
    max-width: 425px;
}

.landlord-tenant-text-marked {
    max-width: 425px;
}

.inner-steps-of-going {
    background-image: url('../img/darcey-beau-banner.jpg');
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: -15px;
    margin-left: -15px;
}

.steps-of-going-title {
    max-width: 610px;
    margin-bottom: 34px;
}

.steps-of-going-logo {
    display: flex;
    justify-content: center;
}

.steps-of-going-deco {
    display: flex;
    align-items: center;
}

.steps-of-going-deco-text {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.55;
    max-width: 510px;
}

.wrapper-steps-of-going-paragraph {
    margin-top: 48px;
}

.steps-of-going-paragraph {
    padding: 30px 0;
    display: flex;
    margin: 15px 0;

    span {
        font-size: 30px;
        font-weight: 700;
        line-height: 1.53;
        padding: 27px 79px 79px 54px;
    }

    p {
        font-size: 20px;
        font-weight: 600;
        line-height: 1.55;
        max-width: 900px;
    }

    &:nth-of-type(1) p {
        max-width: 905px;
    }

    &:nth-of-type(2) p {
        max-width: 875px;
    }

    &:nth-of-type(7) p {
        max-width: 875px;
    }
}

.steps-of-going-paragraph-marked {
    color: #000;
    background-color: $color-brand-primary;
}

.partner-section {

    .partner-section-text {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.55;
        padding: 30px 0 40px 0;
        max-width: 550px;
    }

    .legal-block {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.55;
        padding-bottom: 95px;
        max-width: 360px;
        position: relative;

        &::before {
            content: '';
            width: 34px;
            height: 34px;
            background-color: #000;
            top: -34px;
            left: -34px;
            position: absolute;
        }

        &::after {
            content: '';
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background-color: $color-brand-primary;
            top: -25px;
            left: -25px;
            position: absolute;
        }
    }

    .partner-section-notice {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.375;
        background-color: $color-brand-primary;
        padding: 44px 92px 32px 93px;
        margin: 120px 0;
    }

    .sign-contract-text {
        font-size: 24px;
        font-weight: 600;
        line-height: 1.375;
        max-width: 410px;
    }

    .sign-contract-button {
        margin-top: 58px;
        position: relative;
    }

    .connection-line {
        width: 670px;
        height: 92px;
        border-right: 2px solid #000;
        border-bottom: 2px solid #000;
        background-color: transparent;
        position: absolute;
        top: -55px;
        left: 293px;
    }
}

@import 'media_queries';

